/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END RESET CSS */

:root {
    --sidebar-width: 250px;
    --black-1: #000000;
    --black-2: #1a1a1d;
    --black-3: #323236;
    --blue-1: #03a3df;
    --blue-2: #00b9ff;
    --blue-3: #BBE1FA;
    --white-1: #FFFFFF;
    --white-2: #FAFAFA;
    --red-1: #A91D3A;
    --red-2: #C73659;
    --red-3: #b94c66;

}

* {
    box-sizing: border-box;
}

body {
    font-family: "Play", sans-serif;
    background-color: var(--black-1);
}

a {
    text-decoration: none;
    color: var(--white-1);
}

/* Logo */
.logo {
    background-color: var(--black-1);
    padding: 26px 30px;
    position: relative;
}

/* END Logo */

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--black-2);
    font-weight: bold;
    text-transform: uppercase;
}

nav .menu {
    padding: 15px 20px;
    position: relative;
}

.active {
    border-left: 5px solid var(--blue-1);
    background-color: var(--black-1);
    padding: calc(20px - 5px) !important;
    color: var(--blue-2);
}

.active:hover {
    background-color: var(--black-1) !important;
}

nav .sidehover {
    position: absolute;
    width: 0px;
    transition: width .5s ease-out;
    z-index: -1;
}

nav .menu:hover .sidehover {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--blue-1);
}

nav .logo:hover {
    cursor: pointer;
}

/* END Navigation */

/* Header */
.header {
    color: var(--blue-2);
    font-weight: bold;
    background-color: var(--black-1);
    padding: 20px;
    border-bottom: 1px solid var(--black-2);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header .menu-title {
    font-size: 60px;
    padding: 20px;
}

.header .link {
    text-align: right;
    padding: 20px;
    margin: auto;
}

.header .link a {
    color: var(--black-3);
}

.header .link a:hover {
    color: var(--white-1);
}

.header .link .active-link {
    color: var(--white-1);
}

.header .link span {
    margin-right: 20px;
}

.header .search {
    margin: auto;
    text-align: right;
}

input[type=text].search {
    font-size: 20px;
    text-indent: 42px;
    padding: 10px;
    background-image: url('../img/ic-search.png');
    background-size: 30px;
    background-position: 12px;
    background-repeat: no-repeat;
    background-color: var(--black-2);
    border: none;
    color: var(--white-1);
    text-align: left;
}

input[type=text].search:focus {
    border: none;
    outline: none;
    color: var(--blue-1);
}
/* END Header */

/* Content */
.content {
    padding-left: calc(var(--sidebar-width));
    background-color: var(--black-1);
}

.slide-content {
    display: none;
}

.item {
    padding: 20px 50px;
    color: var(--white-2);
    background-color: var(--black-1);
    border-bottom: 1px;
    border-right: 1px;
    border-color: var(--black-2);
    border-style: solid;
    transition: all 1s ease;
    opacity: 0.5;
}

.item img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.item:hover {
    background: rgb(0, 185, 255);
    background: linear-gradient(0deg, rgba(0, 185, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 1;
}

.item:hover img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.item:hover .price {
    color: var(--white-2);
}

.item .strip {
    display: inline-block;
    height: 4px;
    width: 0px;
    margin: 0px 10px 3px 10px;
    transition: all 1s ease-out;
}

.item:hover .strip {
    display: inline-block;
    height: 4px;
    width: 30px;
    background-color: var(--white-2);
    margin: 0px 10px 3px 10px;
}

.item img {
    width: 75%;
}

.item .model-name {
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0;
}

.item .price {
    color: var(--black-3);
    font-weight: bold;
}

/* END Content */

/* Footer */
footer {
    padding: 20px 20px 20px calc(var(--sidebar-width) + 20px);
    background-color: var(--black-1);
    text-align: center;
}

footer .link {
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

footer .link a:hover {
    color: var(--red-2);
}

footer .credit {
    padding: 25px;
    font-size: 12px;
    font-weight: bold;
    color: var(--black-3);
    letter-spacing: 2px;
}

footer .credit a {
    color: var(--blue-1);
}

footer .credit img {
    margin-top: 20px;
}

/* END Footer */

/* Back To Top */
.backtotop {
    height: 50px;
    width: 100%;
    background-color: var(--black-2);
    text-align: center;
}

.backtotop img {
    height: 40px;
    margin-top: 5px;
}

#backtop {
    cursor: pointer;
}

/* END Back To Top */

/* Animation */
.swing-in-left-bck {
    -webkit-animation: swing-in-left-bck 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    animation: swing-in-left-bck 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.flip-in-ver-right {
    -webkit-animation: flip-in-ver-right 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
    animation: flip-in-ver-right 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}

.fade-in-bck {
    -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-fwd {
    -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    animation: fade-in-fwd 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
    animation: slide-in-left 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
}

.slide-in-top {
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    animation: slide-in-top 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.slide-out-fwd-center {
    -webkit-animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:31:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-left-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

@keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:26:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:29:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bck {
    0% {
        -webkit-transform: translateZ(80px);
        transform: translateZ(80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade-in-bck {
    0% {
        -webkit-transform: translateZ(80px);
        transform: translateZ(80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:39:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:41:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:45:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:33:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-fwd-center {
    0% {
        -webkit-transform: translateZ(1);
        transform: translateZ(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
}

@keyframes slide-out-fwd-center {
    0% {
        -webkit-transform: translateZ(1);
        transform: translateZ(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
}

/* END Animation */
