/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET CSS */

:root{
    --sidebar-width: 250px;
    --black-1: #000000;
    --black-2: #1a1a1d;
    --black-3: #323236;
    --blue-1: #03a3df;
    --blue-2: #00b9ff;
    --blue-3: #BBE1FA;
    --white-1: #FFFFFF;
    --white-2: #FAFAFA;
    --red-1: #A91D3A;
    --red-2: #C73659;
    --red-3:#b94c66;
    
}

*{
    box-sizing: border-box;
}

body {
    font-family: "Play", sans-serif;
    background-color: var(--black-1);
}

a{
    text-decoration: none;
    color: var(--white-1);
}

/* Logo */
.logo {
    background-color: var(--black-1);
    padding: 26px 30px;
}

.logo:hover {
    background-color: var(--blue-1);
    cursor: pointer;
}
/* END Logo */

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--black-2);
    font-weight: bold;
    text-transform: uppercase;
}

nav .menu {
    padding: 15px 20px;
}

nav .menu:hover {
    background-color: var(--blue-1);
}

.active {
    border-left: 5px solid var(--blue-1);
    background-color: var(--black-1);
    padding: calc(20px - 5px) !important;
    color: var(--blue-2);
}

.active:hover {
    background-color: var(--black-1) !important;
}
/* END Navigation */

/* Header */
.header {
    color: var(--blue-2);
    font-weight: bold;
    background-color: var(--black-1);
    padding: 20px;
    border-bottom: 1px solid var(--black-2);
}

.header .menu-title {
    font-size: 60px;
    padding: 20px;
}

.header .link {
    text-align: right;
    padding: 20px;
    margin: auto;
}

.header .link a {
    color: var(--black-3);
}

.header .link a:hover {
    color: var(--white-1);
}

.header .link .active-link {
    color: var(--white-1);
}

.header .link span {
    margin-right: 20px;
}
/* END Header */

/* Content */
.content {
    padding-left: calc(var(--sidebar-width));
    background-color: var(--black-1);
}

.item {
    padding: 20px 50px;
    color: var(--white-2);
    background-color: var(--black-1);
    border-bottom: 1px;
    border-right: 1px;
    border-color: var(--black-2);
    border-style: solid;
}

.item:hover {
    background: rgb(0,185,255);
    background: linear-gradient(0deg, rgba(0,185,255,1) 0%, rgba(0,0,0,1) 100%);
}

.item:hover .price {
    color: var(--white-2);
}

.item:hover .strip {
    display: inline-block;
    height: 4px;
    width: 20px;
    background-color: var(--white-2);
    margin: 0px 10px 3px 10px;
}

.item img {
    width: 75%;
}

.item .model-name {
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0;
}

.item .price {
    color: var(--black-3);
    font-weight: bold;
}
/* END Content */

/* Footer */
footer {
    padding: 20px 20px 20px calc(var(--sidebar-width) + 20px);
    background-color: var(--black-1);
    text-align: center;
}

footer .link {
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

footer .link a:hover {
    color: var(--red-2);
}

footer .credit {
    padding: 25px;
    font-size: 12px;
    font-weight: bold;
    color: var(--black-3);
    letter-spacing: 2px;
}

footer .credit a {
    color: var(--blue-1);
}

footer .credit img {
    margin-top: 20px;
}
/* END Footer */