/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END RESET CSS */

:root {
    --sidebar-width: 250px;
    --black-1: #000000;
    --black-2: #1a1a1d;
    --black-3: #323236;
    --black-4: #161618;
    --blue-1: #0d55a2;
    --blue-2: #1e64b0;
    --blue-3: #BBE1FA;
    --blue-4: #00254d;
    --white-1: #FFFFFF;
    --white-2: #FAFAFA;
    --red-1: #A91D3A;
    --red-2: #C73659;
    --red-3: #b94c66;
    --red-4: #ff003c;
    --red-5: #4d0000;
    --green-1: #006769;
    --green-2: #40A578;
    --green-3: #9DDE8B;
    --green-4: #E6FF94;
    --background: rgb(9, 80, 193);
    --background-gradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(9, 80, 193, 1) 100%);
    --header-font: 60px;
    --search-font: 20px;
    --item-font: 32px;
    --show-model-font: 40px;
    --h1-font: 30px;
    --spec-font: 25px;
    --simulation-font: 28px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Play", sans-serif;
    background-color: var(--black-1);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--white-1);
}

.ornament {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 0px 7px 10px;
    z-index: 99999;
}

/* LOADER */
.loader {
    z-index: 999991;
    height: 100%;
    width: 0%;
    background-color: var(--blue-1);
    position: fixed;
    top: 0;
    -webkit-animation: loader 0.8s ease-out; /* Safari */
    animation: loader 0.8s ease-out;
}

@-webkit-keyframes loader {
    0% { width: 0%; }
    50% { width: 200%; }
    100% { width: 0%; }
}

@keyframes loader {
    0% { width: 0%; }
    50% { width: 200%; }
    100% { width: 0%; }
}
/* END LOADER */

/* Logo */
.logo {
    background-color: var(--black-1);
    padding: 26px 30px;
    position: relative;
}

/* END Logo */

/* Navigation */
nav.desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--black-2);
    font-weight: bold;
    text-transform: uppercase;
    z-index: 999;
}

nav.desktop .menu {
    padding: 10px 20px 22px 20px;
    position: relative;
}

nav.desktop .menu img {
    width: 28px;
    position: relative;
    top: 8px;
}

nav.desktop .menu span {
    margin-left: 10px;
}

nav.desktop .active {
    border-left: 5px solid var(--blue-1);
    background-color: var(--black-1);
    padding: 10px 20px 22px calc(20px - 5px) !important;
    color: var(--blue-2);
}

nav.desktop .active:hover {
    background-color: var(--black-1) !important;
}

nav.desktop .sidehover {
    position: absolute;
    width: 0px;
    transition: width .5s ease-out;
    z-index: -1;
}

nav.desktop .menu:hover .sidehover {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--blue-1);
}

nav.desktop .logo:hover {
    cursor: pointer;
}

nav.mobile {
    display: none;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    width: 100%;
    /* From https://css.glass */
    background: rgba(13, 85, 162, 0.68);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    z-index: 99999;
}

nav.mobile img {
    width: 30px;
}

.add-menu {
    display: none;
    color: #ffffff;
    position: fixed;
    bottom: 60px;
    text-align: center;
    font-size: 12px;
    padding: 10px 20px 20px 10px;
    width: 50%;
    z-index: 99999;
    background: var(--black-1);
    background: linear-gradient(90deg, var(--black-1) 0%, var(--black-1) 50%, var(--black-2) 80%, transparent 100%);
}

.logo-mobile {
    display: none;
    padding-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 99999;
    text-align: center;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.68);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
}

.logo-mobile img {
    width: 300px;
}

.sosmed-header {
    background-color: var(--blue-4);
    padding: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 8px;
    display: none;
}

.sosmed-header a {
    margin-right: 10px;
}

.sosmed-header a:last-child {
    margin-right: 0px;
}
/* END Navigation */

/* Header */
.header {
    color: var(--white-2);
    font-weight: bold;
    background-color: var(--black-1);
    padding: 20px;
    border-bottom: 1px solid var(--black-2);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header .menu-title {
    font-size: var(--header-font);
    padding: 20px;
}

.header .link {
    text-align: right;
    padding: 20px;
    margin: auto;
}

.header .link a {
    color: var(--black-3);
}

.header .link a:hover {
    color: var(--white-1);
}

.header .link .active-link {
    color: var(--white-1);
}

.header .link span {
    margin-right: 20px;
}

.header .search {
    margin: auto;
    text-align: right;
}

input[type=text].search {
    font-size: var(--search-font);
    text-indent: 42px;
    padding: 10px;
    background-image: url('../img/ic-search.png');
    background-size: 30px;
    background-position: 12px;
    background-repeat: no-repeat;
    background-color: var(--black-2);
    border: none;
    color: var(--white-1);
    text-align: left;
}

input[type=text].search:focus {
    border: none;
    outline: none;
}

/* END Header */

/* Content */
.content {
    padding-left: var(--sidebar-width);
    background-color: var(--black-1);
}

.slide-content {
    display: none;
}

.head-strip {
    display: inline-block;
    height: 4px;
    width: 100px;
    margin-top: 10px;
    background-color: var(--red-4);
    margin-bottom: 50px;
    transition: all .8s ease-out;
}

.item {
    padding: 20px 50px;
    color: var(--white-2);
    background-color: var(--black-1);
    border-bottom: 1px;
    border-right: 1px;
    border-color: var(--black-2);
    border-style: solid;
    transition: all 1s ease;
    opacity: 0.5;
}

.item img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.item:hover {
    background: var(--background);
    background: var(--background-gradient);
    opacity: 1;
}

.item:hover img {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.item:hover .price {
    color: var(--white-2);
}

.item .strip {
    display: inline-block;
    height: 4px;
    width: 0px;
    margin: 0px 10px 3px 10px;
    transition: all .8s ease-out;
}

.item:hover .strip {
    display: inline-block;
    height: 4px;
    width: 80px;
    background-color: var(--red-4);
    margin: 0px 10px 3px 10px;
}

.item img {
    width: 75%;
}

.item .model-name {
    font-size: var(--item-font);
    font-weight: bold;
    padding: 20px 0;
}

.item .price {
    color: var(--black-3);
    font-weight: bold;
}

.item button.order {
    font-size: 20px;
    margin-top: 20px;
    background-color: var(--black-2);
    border: none;
    color: var(--black-3);
    padding: 5px 10px;
    transition: all .2s ease;
}

.item:hover button.order {
    outline: 1px solid var(--blue-1);
    outline-offset: 5px;
    background-color: var(--red-2);
    color: var(--white-1);
}

.item button.order:hover {
    background-color: var(--blue-1);
    outline: 1px solid var(--red-1);
    outline-offset: 5px;
}

.item .order img {
    display: inline;
    width: 20px;
    margin-right: 10px;
    filter: invert(80%);
}

.item:hover .order img {
    filter: invert(0%);
}

.model-container {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(9, 80, 193, 0.245) 50%, rgba(9, 80, 193, 0.582) 100%);
    padding: 40px 0px 0px 0px;
}

.model-container h1 {
    font-size: var(--h1-font);
    color: var(--white-1);
}

.model-show {
    padding: 0px 20px 20px 20px;
    color: var(--white-2);
}

.model-show img {
    padding: 0px 50px 50px 50px;
    display: none;
}

.model-show .image-container img.show-img {
    display: block;
}

.model-show .model-name {
    font-size: var(--show-model-font);
    margin: -30px 0px 20px 0px;
}

.model-call-container {
    position: relative;

    /* The image used */
    height: min-content;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.model-call {
    color: var(--white-2);
    padding: 20px;
}

.model-call h1 {
    font-size: var(--h1-font);
}

.model-call table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 25px;
    cursor: context-menu;
}

.model-call table tr th,
.model-call table tr td {
    padding: 20px;
}

.model-call table tr th {
    background-color: var(--blue-4);
    border-bottom: 6px solid var(--black-1);
}

.model-call table tr td {
    background-color: var(--black-4);
}

.model-call table tr td {
    border-bottom: 6px solid transparent;
}

.model-call table tr td.action {
    text-align: center;
    transition: all .8s ease;
}

.model-call p {
    font-size: 18px;
    color: var(--red-1);
}

.model-call table i {
    color: var(--green-2);
}

.model-call table tr td.action:hover i {
    color: #ffffff;
}

.model-call table tr td.action:hover {
    background-color: var(--green-2);
    cursor: pointer;
}

.model-info {
    color: var(--white-2);
    padding: 20px;
}

.model-info h1 {
    font-size: var(--h1-font);
}

.model-info .price {
    font-weight: bold;
}

.model-spfc {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(9, 80, 193, 0.582) 0%, rgba(9, 80, 193, 0.245) 50%, rgba(0, 0, 0, 1) 100%);
    color: var(--white-2);
    padding: 40px 20px 20px 20px;
}

.model-spfc h1 {
    font-size: var(--h1-font);
}

.model-spfc .spec {
    padding: 50px 200px;
    font-size: var(--spec-font);
    text-align: left;
}

.model-spfc .spec table {
    margin-bottom: 50px;
}

.model-spfc .spec table tr td {
    padding: 15px;
}

.model-spfc .spec table tr th {
    padding: 30px 15px;
    background: var(--red-1);
    background: linear-gradient(90deg, var(--red-1) 0%, var(--red-2) 50%, transparent 100%);
}

.warna-container {
    padding: 10px;
}

button.warna {
    border: none;
    outline: 1px solid white;
    outline-offset: 2px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.simulation-container {
    margin-top: -20px;
    padding: 30px;
}

.simulation-container label {
    display: block;
    margin-bottom: 8px;
    color: #5a65ffc6;
}

.simulation-container span {
    font-size: var(--simulation-font);
}

.simulation-container h1,
.simulation-container .form-group {
    margin-bottom: 40px;
}

.simulation-container select {
    text-align: center;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px dashed #5a65ffc6;
    font-size: var(--simulation-font);
    background-color: transparent;
    color: var(--white-1);
}

.simulation-container select option {
    background-color: var(--black-1);
}

.simulation-container input {
    font-size: var(--simulation-font);
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--white-1);
    background-color: transparent;
    color: var(--white-1);
    text-align: center;
    transition: all .3s ease;
}

.simulation-container input:hover {
    padding-left: 15px;
    padding-right: 15px;
}

.simulation-container input:focus {
    border-color: #5a65ffc6;
}

.simulation-container input::placeholder {
    color: #5a65ffc6;
}

.simulation-container button {
    outline: 1px solid #5a65ffc6;
    outline-offset: 5px;
    border: none;
    font-size: var(--simulation-font);
    padding: 15px;
    background-color: #5a65ffc6;
    color: var(--white-1);
    margin-bottom: 20px;
    transition: all .3s ease;
}

.simulation-container button:hover {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #5a65fff1;
}

.simulation-container .angsuran {
    border: 1px solid #5a65ffc6;
    margin: 5px;
    padding: 10px 5px;
}

.simulation-container .angsuran label {
    color: var(--white-1);
}

.simulation-container .angsuran p {
    font-size: 20px;
    color: var(--white-1);
}

.simulation-container.simulation-single-page {
    text-align: center;
    color: var(--white-1);
    background-color: rgba(9, 80, 193, 0.582);
    padding-top: 50px;
}

.team {
    text-align: center;
    padding: 20px;
}

.maps {
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(50% - var(--sidebar-width) + 125px);
    padding: 20px;
}

.jingle {
    text-align: center;
    padding: 20px;
    color: var(--white-1);
}

.jingle p {
    line-height: 1.5;
}

.jingle table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 10px;
}

.jingle table tr td {
    padding: 5px;
}

.jingle a {
    color: #f56892;
    font-weight: bold;
}

.jingle a i {
    margin-left: 3px;
    font-size: 12px;
}

.lyrics {
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
}

.lyrics p {
    padding: 20px;
}

.lyrics h2 {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(9, 80, 193, 0.582) 0%, rgba(9, 80, 193, 0.245) 50%, rgba(0, 0, 0, 1) 100%);
    padding: 10px;
}

.visimisi {
    padding: 0px 50px;
    color: var(--white-1);
}

.visimisi p:first-child {
    padding-top: 0px;
}

.visimisi p {
    padding: 20px;
    line-height: 1.5;
}

.visimisi h1 {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(9, 80, 193, 0.582) 0%, rgba(9, 80, 193, 0.245) 50%, rgba(0, 0, 0, 1) 100%);
    padding: 10px;
}

.contact h1 {
    font-size: var(--h1-font);
    color: var(--white-1);
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 75%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

.iframe-container-about {
    text-align: left;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-container-about iframe {
    position: absolute;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

.card-team {
    position: relative;
    padding: 0px 20px 0px 20px;
}

.card-team img {
    opacity: 0.5;
    transition: all 1s ease-in-out;
}

.card-team .phone {
    position: relative;
    padding: 15px;
    background-color: var(--blue-1);
    top: -115px;
    left: -10px;
    width: 70%;
    font-weight: bold;
    transform: skew(-8deg) translate(-1px, 0px);
    -webkit-transform: skew(-8deg) translate(-1px, 0px);
    -moz-transform: skew(-8deg) translate(-1px, 0px);
}

.card-team .phone-name {
    position: relative;
    padding: 20px;
    background-color: var(--red-2);
    top: -5px;
}

.card-team:hover img {
    opacity: 1;
}

.job-name {
    font-size: 30px;
}

.qualification {
    text-align: left;
    margin-top: -20px;
}

.qualification table tr td,
.qualification table tr th {
    padding: 8px;
}

.qualification table th {
    font-size: 20px;
}

.jobdesc {
    text-align: left;
    margin-top: 10px;
    height: 200px;
}

.jobdesc .table-head {
    font-size: 20px;
    padding: 8px;
}

.jobdesc .description {
    padding: 8px;
    overflow-y: auto;
    height: 150px;
}

.table-head {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(9, 80, 193, 0.582) 0%, rgba(9, 80, 193, 0.245) 50%, transparent 100%);
    transition: all 1s ease;
}

.item:hover .table-head {
    background: var(--red-1);
    background: linear-gradient(90deg, var(--red-1) 0%, var(--red-2) 50%, transparent 100%);
}

a.apply {
    display: block;
    outline: 1px solid var(--green-3);
    outline-offset: 5px;
    border: none;
    background-color: var(--green-2);
    padding: 10px 30px;
    color: var(--black-1);
    font-weight: bold;
    margin-top: 20px;
    transition: all .2s ease;
    margin-bottom: 20px;
}

a.apply:hover {
    background-color: var(--green-3);
    outline: 1px solid var(--green-1);
}

.cta {
    position: relative;
    padding: 20px 20px 50px 20px;
    background-color: var(--black-1);
    text-align: center;
    width: 80%;
}

.cta h1 {
    font-size: var(--h1-font);
    color: var(--white-1);
}

.search-home {
    position: relative;
    top: -50px;
    padding: 50px 50px 35px 50px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(6, 66, 163) 0%, rgba(0, 0, 0, 1) 100%);
    width: 80%;
}

.search-home input {
    font-size: var(--simulation-font) !important;
    padding: 13px !important;
    background-color: var(--black-1) !important;
}

.search-home button {
    border: none;
    font-size: var(--simulation-font);
    padding: 15px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, var(--red-1) 0%, #550515 100%);
    color: var(--white-1);
    margin-bottom: 20px;
    transition: all .3s ease;
    width: 100%;
}

.search-home button:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, #550515 0%, var(--red-1) 100%);
}

.sosmed {
    display: inline-block;
    margin: 5px 15px;
}

.modal-body,
.modal-footer {
    background-color: #ffffff !important;
    border-radius: 0px;
    border: none;
}

.modal-header {
    background-color: var(--blue-4) !important;
    border-radius: 0px;
    border: none;
    color: #ffffff !important;
}

.modal-body .container {
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.modal-body .container p .harga {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

.modal-body .container:hover {
    background: rgb(0,37,77);
    background: linear-gradient(0deg, rgba(0,37,77,1) 0%, rgba(13,85,162,1) 100%);
    color: #ffffff;
}

.myyamaha {
    background-color: #ffffff;
    padding: 40px;
}

.myyamaha .col-6:first-child {
    text-align: right;
    padding-right: 60px;
}

.myyamaha col-6:last-child {
    padding-left: 60px;
}
/* END Content */

/* Footer */
footer {
    padding: 20px 20px 20px calc(var(--sidebar-width) + 20px);
    background-color: var(--black-1);
    text-align: center;
}

footer .link {
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

footer .link a:hover {
    color: var(--red-2);
}

footer .link a.active-footer {
    color: var(--blue-2);
}

footer .credit {
    padding: 25px;
    font-size: 12px;
    font-weight: bold;
    color: var(--black-3);
    letter-spacing: 2px;
}

footer .credit a {
    color: var(--blue-1);
}

footer .credit img {
    margin-top: 20px;
}

/* END Footer */

/* Back To Top */
.backtotop {
    height: 50px;
    width: 100%;
    background-color: var(--black-2);
    text-align: center;
}

.backtotop img {
    height: 40px;
    margin-top: 5px;
}

#backtop {
    cursor: pointer;
}

/* END Back To Top */

/* Animation */
.swing-in-left-bck {
    -webkit-animation: swing-in-left-bck 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    animation: swing-in-left-bck 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.flip-in-ver-right {
    -webkit-animation: flip-in-ver-right 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
    animation: flip-in-ver-right 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
    animation: slide-in-left 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
}

.slide-in-top {
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    animation: slide-in-top 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bg-pan-right {
    -webkit-animation: bg-pan-right 20s infinite both;
    animation: bg-pan-right 20s infinite both;
}

.bg-change-color {
    -webkit-animation: bg-change-color 10s infinite both;
    animation: bg-change-color 10s infinite both;
}

.bg-change-color-2 {
    -webkit-animation: bg-change-color-2 10s infinite both;
    animation: bg-change-color-2 10s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:31:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-left-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

@keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:26:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:41:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 10:45:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-16 22:46:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-17 9:52:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-right
 * ----------------------------------------
 */
@-webkit-keyframes bg-pan-right {
    0% {
        background-color: rgba(9, 80, 193, 0.582);
    }

    25% {
        background-color: rgba(9, 18, 193, 0.397);
    }

    50% {
        background-color: rgba(64, 9, 193, 0.254);
    }

    75% {
        background-color: rgba(9, 18, 193, 0.397);
    }

    100% {
        background-color: rgba(9, 80, 193, 0.582);
    }
}

@keyframes bg-pan-right {
    0% {
        background-color: rgba(9, 80, 193, 0.582);
    }

    25% {
        background-color: rgba(9, 18, 193, 0.397);
    }

    50% {
        background-color: rgba(64, 9, 193, 0.254);
    }

    75% {
        background-color: rgba(9, 18, 193, 0.397);
    }

    100% {
        background-color: rgba(9, 80, 193, 0.582);
    }
}

/* ------------------------
 *       Andika CSS
 *------------------------*/

@-webkit-keyframes bg-change-color {
    0% {
        background-color: var(--blue-1)
    }

    25% {
        background-color: var(--blue-2)
    }

    50% {
        background-color: var(--red-2)
    }

    75% {
        background-color: var(--blue-2)
    }

    100% {
        background-color: var(--blue-1)
    }
}

@keyframes bg-change-color {
    0% {
        background-color: var(--blue-1)
    }

    25% {
        background-color: var(--blue-2)
    }

    50% {
        background-color: var(--red-2)
    }

    75% {
        background-color: var(--blue-2)
    }

    100% {
        background-color: var(--blue-1)
    }
}

/* ------------------------
 *       Andika CSS
 *------------------------*/

@-webkit-keyframes bg-change-color-2 {
    0% {
        background-color: var(--red-2)
    }

    25% {
        background-color: var(--red-3)
    }

    50% {
        background-color: var(--blue-1)
    }

    75% {
        background-color: var(--red-3)
    }

    100% {
        background-color: var(--red-2)
    }
}

@keyframes bg-change-color-2 {
    0% {
        background-color: var(--red-2)
    }

    25% {
        background-color: var(--red-3)
    }

    50% {
        background-color: var(--blue-1)
    }

    75% {
        background-color: var(--red-3)
    }

    100% {
        background-color: var(--red-2)
    }
}

/* END Animation */
