/* @media screen and (max-width: 1920px) and (min-width: 1920px) {
    .contentFeatured {
        position: absolute;
        top: 0;
        left: 60px;
    }
} */

@media screen and (max-width: 1440px){
    .logo {
        padding: 16px 20px;
        text-align: center;
    }

    .logo img {
        width: 145px;
    }

    .header {
        padding: 15px;
    }

    .header .menu-title {
        font-size: calc(var(--header-font) - 20px);
        padding: 15px;
    }

    .header .link {
        padding: 15px;
    }

    .header .link span {
        margin-right: 15px;
    }

    .item .model-name {
        font-size: calc(var(--item-font) - 10px);
    }

    .item:hover .strip {
        width: 50px;
    }

    .model-spfc .spec {
        font-size: calc(var(--spec-font) - 5px);
    }

    .model-spfc .spec table tr td {
        padding: 10px;
    }
    
    .model-spfc .spec table tr th {
        padding: 20px 10px;
    }

    .card-team {
        padding: 0px 10px 0px 10px;
    }

    input[type=text].search {
        font-size: calc(var(--search-font) - 10px);
        text-indent: 32px;
        padding: 8px;
        background-size: 25px;
        background-position: 5px;
    }

    .search-home {
        position: relative;
        top: -50px;
        left: -25px;
        padding: 40px 40px 25px 40px;
    }

    .search-home input {
        font-size: calc(var(--simulation-font) - 10px) !important;
        padding: 10px !important;
    }

    .search-home button {
        border: none;
        font-size: calc(var(--simulation-font) - 10px);
        padding: 10px;
    }

    .contentFeatured {
        position: absolute;
        top: 2px;
        left: -120px;
    }

    .model-call table {
        font-size: 15px;
    }

    .model-call table tr th,
    .model-call table tr td {
        padding: 15px;
    }
}

@media screen and (max-width: 1024px) {
    nav .menu {
        font-size: 15px;
    }

    nav .menu img {
        width: 22px;
        top: 5px;
    }

    .header {
        padding: 10px;
    }

    .header .menu-title {
        font-size: calc(var(--header-font) - 30px);
        padding: 10px;
    }

    .header .link {
        padding: 10px;
    }

    .header .link a {
        font-size: 11px;
    }

    .header .link span {
        margin-right: 10px;
    }

    .content h1 {
        font-size: 20px;
    }

    .search-home {
        top: 0px;
    }

    .model-show img {
        padding: 0px 20px 20px 20px;
    }

    .model-show .model-name {
        font-size: calc(var(--show-model-font) - 15px);
    }

    button.warna {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .model-info span {
        font-size: 20px;
    }

    .model-info label {
        font-size: 10px;
    }

    .model-info select {
        font-size: 20px;
    }

    .model-info button {
        font-size: 20px;
    }

    .model-info p {
        font-size: 8px !important;
    }

    .item .model-name {
        font-size: calc(var(--item-font) - 20px);
    }

    .item .price {
        font-size: calc(var(--item-font) - 20px);
    }

    .item:hover .strip {
        width: 15px;
    }

    .model-spfc .spec {
        font-size: calc(var(--spec-font) - 10px);
        padding: 20px 100px;
    }

    .model-spfc .spec table tr td {
        padding: 5px;
    }
    
    .model-spfc .spec table tr th {
        padding: 10px 5px;
    }

    .card-team {
        padding: 0px 10px 0px 10px;
    }

    .model-call table {
        font-size: 10px;
    }

    .model-call table tr th,
    .model-call table tr td {
        padding: 10px;
    }

    .model-call p {
        font-size: 11px;
    }

    input[type=text].search {
        font-size: calc(var(--search-font) - 10px);
        text-indent: 20px;
        padding: 5px;
        background-size: 15px;
        background-position: 5px;
    }

    .search-home {
        position: relative;
        left: -120px;
        padding: 20px 20px 5px 20px;
        width: 100%;
    }

    .search-home input {
        font-size: calc(var(--simulation-font) - 15px) !important;
        padding: 10px !important;
    }

    .search-home button {
        border: none;
        font-size: calc(var(--simulation-font) - 15px);
        padding: 10px;
    }

    .cta {
        padding: 20px 20px 50px 20px;
        width: 80%;
        left: -60px;
    }

    .sosmed img {
        width: 80px;
    }

    .sosmed p {
        font-size: 12px;
    }

    .contentFeatured {
        position: absolute;
        top: -15px;
        left: -250px;
    }

    #smartKey {
        top: 200px !important;
        left: 455px;
    }
    
    #luggage {
        top: 210px !important;
        left: 320px !important;
    }
    
    #smartFrontRefuel {
        top: 230px !important;
        left: 455px;
    }
    
    #blueCore {
        top: 300px !important;
        left: 350px !important;
    }
    
    #seat {
        top: 170px !important;
        left: 355px;
    }
    
    #led {
        top: 130px;
        left: 515px;
    }
    
    #footstep {
        top: 270px !important;
        left: 320px !important;
    }
    
    #tire {
        top: 320px !important;
        left: 600px !important;
    }
    
    #speedo {
        top: 115px;
        left: 460px;
    }

    footer .link {
        font-size: 10px;
    }

    .content {
        overflow-x: hidden;
    }

    .simulation-container span {
        font-size: calc(var(--simulation-font) - 10px);
    }

    .simulation-container select {
        font-size: calc(var(--simulation-font) - 10px);
    }

    .simulation-container input {
        font-size: calc(var(--simulation-font) - 10px);
    }

    .simulation-container button {
        font-size: calc(var(--simulation-font) - 10px);
    }

    .simulation-container .angsuran p {
        font-size: 10px;
    }

    .angsuran label {
        font-size: 15px !important;
    }

    .card-team {
        padding: 0px 10px 0px 10px;
    }

    .card-team .phone {
        font-size: 10px;
        position: relative;
        padding: 10px;
        top: -70px;
        left: -10px;
        width: 80%;
    }

    .card-team .phone-name {
        font-size: 10px;
        padding: 10px;
    }

    .job-name {
        font-size: 20px;
    }

    .qualification table th {
        font-size: 15px;
    }

    .qualification table td {
        font-size: 10px;
    }

    .jobdesc .table-head {
        font-size: 15px;
    }

    .jobdesc .description p{
        font-size: 10px;
    }

    .team .visimisi p {
        font-size: 12px !important;
    }

    .jingle .lyrics p {
        font-size: 12px;
    }

    footer p {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    * {
        overflow-x: hidden !important;
    }

    .logo-mobile {
        display: block !important;
    }

    .sosmed-header {
        display: block;
    }

    nav.mobile {
        display: block;
    }

    nav.desktop {
        display: none;
    }

    .ornament {
        display: none;
    }

    .content {
        padding-left: 0;
    }

    .header {
        text-align: center;
        position: relative;
    }

    .header .link {
        text-align: center;
    }

    .header .search {
        text-align: center;
    }

    input[type=text].search {
        width: 220px;
    }

    .item {
        opacity: 0.8;
    }

    .item img {
        -webkit-filter: grayscale(0%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }

    .search-home {
        padding-left: var(--sidebar-width);
        width: 100%;
    }

    .cta {
        width: 100%;
        margin-left: 60px;
        padding-bottom: 20px;
    }

    footer {
        padding: 20px 20px 80px 20px;
    }

    .contentFeatured {
        position: absolute;
        top: 0;
        left: -260px;
    }

    #smartKey {
        top: 170px !important;
        left: 470px !important;
    }
    
    #luggage {
        top: 190px !important;
        left: 340px;
    }
    
    #smartFrontRefuel {
        top: 200px !important;
        left: 470px !important;
    }
    
    #blueCore {
        top: 280px !important;
        left: 355px;
    }
    
    #seat {
        top: 160px !important;
        left: 400px !important;
    }
    
    #led {
        top: 95px !important;
        left: 515px;
    }
    
    #footstep {
        top: 250px !important;
        left: 340px !important;
    }
    
    #tire {
        top: 315px;
        left: 605px;
    }
    
    #speedo {
        top: 90px !important;
        left: 470px !important;
    }

    #smartKeyContent {
        top: 100px;
        left: 500px;
    }
    
    #luggageContent {
        top: 100px;
        left: 80px;
    }
    
    #smartFrontRefuelContent {
        top: 170px;
        left: 500px;
    }
    
    #blueCoreContent {
        top: 200px;
        left: 90px;
    }
    
    #seatContent {
        top: 10px;
        left: 135px;
    }
    
    #ledContent {
        top: 5px;
        left: 550px;
    }
    
    #footstepContent {
        top: 190px;
        left: 75px;
    }
    
    #tireContent {
        top: 200px;
        left: 335px;
    }
    
    #speedoContent {
        top: 10px;
        left: 510px;
    }

    .sales img {
        width: 150px;
    }

    .sales .nomor {
        font-size: 15px;
    }

    .sales .name {
        margin-top: 11px;
        font-size: 18px;
    }

    header {
        width: 100%;
    }

    .model-call table {
        font-size: 12px;
    }

    .team .phone-name,
    .team .phone {
        font-size: 15px !important;
    }

    .team .phone-name {
        padding: 20px;
    }

    .team .phone {
        top: -100px;
    }

    .maps {
        position: relative;
        width: 90%;
        margin: auto;
    }

    .team .visimisi p {
        font-size: 15px !important;
    }

    .jingle .lyrics {
        text-align: center;
    }

    .jingle .lyrics p {
        font-size: 15px;
    }

    footer iframe {
        height: 200px;
    }

    footer .partner-wrap {
        margin-top: 20px;
        padding: 0 5px;
    }

    .card {
        display: inline-block;
        margin: 10px 2px;
        width: 220px;
        border-radius: 20px 30px;
        border: none;
    }
    
    .card-title {
        font-size: 12px;
    }
    
    .card-title .harga {
        display: inline-block;
        position: absolute;
        right: -3px;
        top: -20px;
        font-size: 14px;
    }

    .marketplace span {
        font-size: 15px;
    }
    
    .marketplace img {
        width: 50px;
    }
    
    .marketplace a {
        width: 120px;
        font-size: 15px;
        margin: 10px;
    }
}

@media screen and (max-width: 425px) {
    * {
        overflow-x: hidden !important;
    }

    .sosmed-header {
        display: none;
    }

    .contentFeatured {
        display: none;
    }

    .search-home {
        position: static;
        padding: 40px 20px 20px 20px;
    }

    nav.mobile img {
        width: 20px;
    }

    nav.mobile a {
        font-size: 10px !important;
    }

    .item {
        opacity: 0.8;
    }

    .simulation-container .form-group .col-md-6 {
        margin-bottom: 10px;
    }

    .model-spfc .spec{
        padding: 10px;
        font-size: 12px;
    }

    .simulation-container.simulation-single-page .form-group .col-md-6 {
        margin-bottom: 20px;
    }

    .maps {
        width: 100%;
    }

    .team .visimisi {
        padding: 0px 20px;
    }

    .team .visimisi p {
        text-align: justify;
    }

    .jingle .lyrics {
        text-align: left;
    }
}

@media screen and (max-width: 384px) {
    /*  */
}

@media screen and (max-width: 320px) {
    .model-call {
        padding: 0px;
    }

    nav.mobile img {
        width: 15px;
    }

    nav.mobile a {
        font-size: 8px !important;
    }

    .item {
        opacity: 0.8;
    }

    .jingle table {
        font-size: 12px;
    }
}